html {
    --orange: #EAB12C;
    --gray: #707070;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}

ul {
    list-style-type:none;
    margin: 2rem;
    padding: 2rem;
  }

  header {
    background-image: url(../img/beanss.jpg);
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    text-align: center;
  }

  #colorstrip{
    width: 100%; height: 50px;
    border-style: solid;
    border-color: #EAB12C;
    background-color: #EAB12C;
}

  #smallcolor{
    width: 100%; height: 3px;
    border-style: solid;
    border-color: #EAB12C;
    background-color: #EAB12C;
  }

  #aboutstrip{
    width: 70%; height: 3px;
    border-style: solid;
    border-color: #EAB12C;
    background-color: #EAB12C;
    padding-left: 3rem;
  }

.my-button {
    background-size: cover;
    border: 3px solid #EAB12C;
    border-radius: 28px;
    background-color: #EAB12C;
    color: #000000;
    padding: 1rem 1.5rem;
  }

  /* Need Help eith this button!!!*/

  .menu-button {
   display: flex;
   justify-content: flex-end;
   padding: 1rem;
    position: absolute;
    width: 43px;
    height: 32px;
    color:#FFFFFF;
  }

  * {
    box-sizing: border-box;
  }

  
  .logo {
    max-width: 400px;
    padding: 3rem;
    border: 0px;
  }

 .beans {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
  }

  .about-title {
    padding-bottom: 1rem;
    border-bottom: #EAB12C;
    border-bottom: 3px;
    padding-left: 3rem;
    padding-top: 3rem;
  }

  .fancy-image {
    max-height: 447px;
    min-height: 167px;
    max-width: 529px;
    min-width:198px;
  }

  .about-paragraph {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  footer {
    background-color: var(--orange);
    color:#FFFFFF;
    padding: 1.5rem 0;
}

.overview-grid {
    list-style-type: none;
}

footer p {
    margin-bottom: 0;
}


table {
  width: 50%;
}

th {
  background: #f2f2f2;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
  font-family: 'Assistant';
  font-style: semi-bold;
}

.price {
font-family: 'Assistant';
font-weight: light;
}

li {
  font-family: 'Roboto Serif';
  font-style: light italic;
}

h1 {
  font-family: 'Roboto Serif';
  font-style: light;
  font-size: 55;
}

h2 {
  font-family: 'Roboto Serif';
  font-style: light;
  font-size: 55;
}

h3 {
  font-family: 'Roboto Serif';
  font-style: light;
  font-size: 36;
}

img {
  border: 3px solid #EAB12C;
}

img {
  max-width: 100%;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 3rem;
}

.two-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.three-top {
  gap: 1rem;
  padding-bottom: .5rem;
  max-width: 726px;
}
.three-image {
  min-width: 156px;
  max-width: 353px;
  min-height: 129px;
  max-height: 292px;
  display: flex;
  object-fit: cover;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.panini-list {
  list-style: none;
}

.panini-list table {
  width: 100%;
}

.item {
  font-family: Assistant;
  font-weight: 600;
}

.panini-list p {
  font-style: italic;
}

span {
  color: #EAB12C;
  height: 5px;
}

.location img {
  max-height: 526px;
  min-height: 302px;
  max-width: 569px;
  min-width: 327;
}

@media screen and (min-width: 800px) {
  .about {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem;
  }
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}