html {
    --orange: #EAB12C;
    --gray: #707070;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}

ul {
    list-style-type:none;
    margin: 2rem;
    padding: 2rem;
  }

  header {
    background-image: url(../img/beans.jpg);
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    text-align: center;
  }

.my-button {
    background-size: cover;
    border: 3px solid #EAB12C;
    border-radius: 28px;
    background-color: #EAB12C;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
  }

  * {
    box-sizing: border-box;
  }

  
  .logo {
    max-width: 400px;
    padding: 3rem;
  }
 .beans {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
  }

  footer {
    background-color: var(--orange);
    color:#FFFFFF;
    padding: 1.5rem 0;
}

.overview-grid {
    list-style-type: none;
}

footer p {
    margin-bottom: 0;
}

table {
  width: 50%;
}

th {
  background: #f2f2f2;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
  font-family: 'Assistant';
  font-style: semi-bold;
}

.price {
font-family: 'Assistant';
}

li {
  font-family: 'Roberto Serif';
  font-style: light italic;
}

h1 {
  font-family: 'Roberto Serif';
  font-style: light;
  font-size: 55;
}

h2 {
  font-family: 'Roberto Serif';
  font-style: light;
  font-size: 36;
}

.fancy-image {
  border: 3px var(--orange) solid;
}
