html {
    --orange: #EAB12C;
    --gray: #707070;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}

ul {
    list-style-type:none;
    margin: 2rem;
    padding: 2rem;
  }

  header {
    background-image: url(../img/beanss.jpg);
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    text-align: center;
  }

  #colorstrip{
    width: 100%; height: 68px;
    border-style: solid;
    border-color: #EAB12C;
    background-color: #EAB12C;
}

.my-button {
    background-size: cover;
    border: 3px solid #EAB12C;
    border-radius: 28px;
    background-color: #EAB12C;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
  }

  /* Need Help eith this button!!!*/

  .menu-button {
   display: flex;
   justify-content: flex-end;
   padding: 1rem;
    position: absolute;
    width: 43px;
    height: 32px;
    color:#FFFFFF;
    ;
  }

  * {
    box-sizing: border-box;
  }

  
  .logo {
    max-width: 400px;
    padding: 3rem;
    border: 0px;
  }
 .beans {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
  }

  footer {
    background-color: var(--orange);
    color:#FFFFFF;
    padding: 1.5rem 0;
}

.overview-grid {
    list-style-type: none;
}

footer p {
    margin-bottom: 0;
}

table {
  width: 50%;
}

th {
  background: #f2f2f2;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
  font-family: 'Assistant';
  font-style: semi-bold;
}

.price {
font-family: 'Assistant';
font-weight: lighter;
}

li {
  font-family: 'Roberto Serif';
  font-style: light italic;
}

h1 {
  font-family: 'Roberto Serif';
  font-style: light;
  font-size: 55;
}

h2 {
  font-family: 'Roberto Serif';
  font-style: light;
  font-size: 36;
}

img {
  border: 3px solid #EAB12C;
}

img {
  max-width: 100%;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 3rem;
}

.two-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.three-top {
  gap: 1rem;
}
.three-image {
  width: 156px;
  height: 129px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.panini-list {
  list-style: none;
}

.panini-list table {
  width: 100%;
}

.item {
  font-family: Assistant;
  font-weight: 600;
}

.panini-list p {
  font-style: italic;
}

span {
  color: #EAB12C;
  height: 5px;
}

@media screen and (min-width: 800px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
